*{
    margin: 0px; /*Crea unb margen alrededro del documento*/
    /*padding: 10px;*/
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

/*Inicia div padre*/
.padre{
    display: flex;
    flex-flow: column nowrap;
}/*Finaliza div padre*/
.margen-interno{
    padding: 0 50px;
}

    /*Inicia el header*/
    .header{
        background: url(images/fondo1.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }/*Finaliza el header*/

        /*Inicia menu*/
        .menu{
            background: rgb(0, 0, 0, .1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 2px solid rgb(255, 255, 255, .5);
        }/*Fianliza menu*/

            /*Inicia logo*/
            .logo{
                flex: 1 1 auto;
            }/*finaliza logo*/

                .logo a{
                    color: #fff;
                    font-size: 30px;
                }

                .logo a:hover{
                    color: #343434;
                }

            /*Inicia nav*/
            .nav{
                flex: 5 1 auto;
            }/*finaliza nav*/

                .nav a{
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding-left: 0 10px;
                    letter-spacing: 2px;
                }

                .nav a:hover{
                    color: #000;
                }

            /*Inicia social*/
            .social{
                flex: 1 1 auto;
                display: flex;
            }/*finaliza social*/

                .social a{
                    font-size: 18px;
                    color: #fff;
                    padding: 0 5px;
                }

                .social a:hover{
                    color: #4E4E6A;
                }

    /*Inicia texto-principal*/
    .texto-principal{
        height: 400px;
        display: flex;
        align-items: center;
    }/*Finaliza texto-principal*/

        /*inicia h1 de texto-principal*/
        h1{
            font-family: 'lora', serif;/*Tipo de fuente*/
            font-size: 21px;/*Tamaño de fuente*/
            color: #fff; /*Color de funete*/
            font-weight: 300;/*Ancho de fuente*/
            text-align: center;/*Alinacion*/
            line-height: 1.6;/*Espacio entre lineas*/
        }/*Finaliza h1 de texto-principal*/

    /*Inicia section*/
    .section{
        background: gray;
        display: flex;
    }/*Finaliza section*/

        /*Inicia artículos*/
        .articulos{
            background: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }/*Finaliza artículos*/

            /*Inicia article*/
            .article{
                flex: 1 1 40%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0;
                flex: 1 1 45%;
                background: #ececec;
                padding: 10px ;
            }/*Finaliza article*/

            .article img{
                width: 100%;
            }
            .article iframe{
                width: 100%;
                height: 100%;
            }
            .article iframe{
                width: 100%;
                height: 100%;
            }

            .article video{
                width: 100%;
                height: 100%;
            }

            .article a{
                color: #fff;
                font-size: 13px;
                padding: 10px 10px;
                background: #000;
                margin: 10px 0;
                display: inline-block;
            }

            .article a:hover{
                background:#546cc3;
            }

            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                color: #fff;
            }

            /*Inicia navegacion*/
            .navegacion{
                background: #000;
                flex: 1 1 100%;
                margin: 10px 10px 0 0px;
            }/*Finaliza article*/

            .navegacion a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }

        /*Inicia aside*/
        .aside{
            flex: 1 1 auto;
            margin: 10px 5px 10px 0;
        }/*Finaliza aside*/

        .aside img{
            width: 100%;
        }

        h4{
            background: #000;
            color: #fff;
            padding:  10px;
            text-transform: uppercase;
        }

    /*Inicia footer*/
    .footer{
        background: gray;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }/*Finaliza footer*/

        /*Inicia pie*/
        .pie{
            text-align: center;
        }/*Finaliza pie*/

        .pie a{
            color: #000;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}